
body {
  color: white;
  margin: 0px;
  font-family: "Lato", sans-serif;
}

html { 
  background: url(/static/images/main-image.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


div.content {
  margin-left: 220px;
  padding: 15px 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 8px;
}

/*.ingredients-filters {
 	margin-right: 80px;
}

.cosmetics-filters{
	margin-right: 80px;
}

.cosmetics-filters-checkbox{
  	margin-right: 20px;
}

.checkbox-label{
	margin-right: 10px;
}

.checkbox{
	margin-right: 80px;
}*/
 
/*.filters-label {
    width: 160px !important;
    display: inline-block;
}*/

.flex-container{
  display: -webkit-flex;
  display: flex;

}

.flex-item{
  margin-right: 10px;
  padding: 10px;
}

select {
    width: 160px;
}

a {
	color: #d28831;
  text-decoration: none;
}

.sidebar-icons {
	margin-top: 60px;
}

.stripe-sidebar {
  width: 220px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;

}

.full_sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #88af80;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.full_sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.smaller_sidebar {
	visibility: hidden;
  height: 40px;
  width: 100%;
  background-color: #88af80;
  text-align: center;
}

.smaller_sidebar span{
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.smaller_sidebar a{
	color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .full_sidebar {visibility: hidden;}
  .sidebar-icons{visibility: hidden;}
  .stripe-sidebar{visibility: hidden;}
  .full_sidebar a {visibility:hidden;}
  .smaller_sidebar{visibility:visible; }
  div.content {margin-left: 10px;}
}

@media screen and (max-width: 555px) {
  .full_sidebar {visibility: hidden;}
  .full_sidebar a {visibility:hidden;}
  .smaller_sidebar span{
    margin-right: 5px;
    padding: 5px;
  }
  .smaller_sidebar a{
      font-size: 12px;
  }
  div.content {margin: 1px;}
}