body {
  color: powderblue;

}
.ingredients-filters {
 	margin-right: 80px;
}

.cosmetics-filters{
	margin-right: 80px;
}

.cosmetics-filters-checkbox{
  	margin-right: 20px;
}

.checkbox-label{
	margin-right: 10px;
}

.checkbox{
	margin-right: 80px;
}
 
.filters-label {
    width: 160px !important;
    display: inline-block;
}

select {
    width: 160px;
}



