{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'cosmetics/scripts/cosmeticDetail.js'%}" defer></script>
{% endblock %}
{% block content %}
<div class="content">

<h1>Cosmetic {{ object.name }}</h1>
<div class="form-item">Verified: {{ object.verified }}</div>
<table class="form-item-table">
<tr>
<th>Tager gender </th>
<th>{{ object.target_gender }}</th>
</tr>
{% if object.bodycosmetic %}
<tr>
    <th>Skin_type </th>
    <th>{{ object.bodycosmetic.skin_type }}</th>
</tr>
<tr>
    <th>Properties </th>
    <th>{{ object.bodycosmetic.properties }}</th>
</tr>
{% elif object.facecosmetic %}
    <div>Skin type: {{ object.facecosmetic.skin_type }}</div>
    <div>Skin subtype: {{ object.facecosmetic.skin_subtype }}</div>
    <div>Time of_day: {{ object.facecosmetic.time_of_day  }}</div>
    <div>Properties: {{ object.facecosmetic.properties }}</div>
{% elif object.feetcosmetic %}
    <div>Skin type: {{ object.feetcosmetic.skin_type }}</div>
    <div>Properties: {{ object.feetcosmetic.properties }}</div>
{% elif object.handscosmetic %}
    <div>Skin type: {{ object.handscosmetic.skin_type }}</div>
    <div>Properties: {{ object.handscosmetic.properties }}</div>
{% elif object.haircosmetic %}
<tr>
    <th>Hair type </th>
    <th> {{ object.haircosmetic.hair_type }}</th>
</tr>
<tr>
    <th>Hair problem </th>
    <th> {{ object.haircosmetic.hair_problem }}</th>
</tr>
<tr>
    <th>Properties </th>
    <th>{{object.haircosmetic.properties}}</th>

</tr>
{% endif %}

</table>

<div class="form-item-wide">Description: {{ object.description }}</div>
<div class="results">
    <button type="button">Check composition!</button>
</div>

</div>


{% endblock %}
