{% extends 'base.html' %} {% load static %} {% block scripts %}

<script src="{% static 'cosmetics/scripts/addCosmetics.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="content">
<form>
  <div class = "cosmetic">
    <select>
      <option selected disabled hidden>Choose cosmetic type</option>
      <option value="body">Body</option>
      <option value="hair">Hair</option>
      <option value="hands">Hands</option>
      <option value="face">Face</option>
      <option value="feet">Feet</option>
    </select>

    <div class="single-cosmetic">
    </div>
  </div>
  <input
    class="add-next-ingredient"
    type="button"
    value="Add next ingredient"
  />
  <button type="button">Save</button>
</form>

    <input class="awesomplete"
       data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails" />
</div>
{% endblock %}
