<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Name: {{ object.name }}</div>
<div>Tager gender: {{ object.target_gender }}</div>
<div>Description: {{ object.description }}</div>
<div>Verified: {{ object.verified }}</div>
{% if object.bodycosmetic %}
    <div>Skin_type: {{ object.bodycosmetic.skin_type }}</div>
    <div>Properties: {{ object.bodycosmetic.properties }}</div>
{% elif object.facecosmetic %}
    <div>Skin_type: {{ object.facecosmetic.skin_type }}</div>
    <div>Skin_subtype: {{ object.facecosmetic.skin_subtype }}</div>
    <div>Time_of_day: {{ object.facecosmetic.time_of_day  }}</div>
    <div>Properties: {{ object.facecosmetic.properties }}</div>
{% elif object.feetcosmetic %}
    <div>Skin_type: {{ object.feetcosmetic.skin_type }}</div>
    <div>Properties: {{ object.feetcosmetic.properties }}</div>
{% elif object.handscosmetic %}
    <div>Skin_type: {{ object.handscosmetic.skin_type }}</div>
    <div>Properties: {{ object.handscosmetic.properties }}</div>
{% elif object.haircosmetic %}
    <div>Hair_type: {{ object.haircosmetic.hair_type }}</div>
    <div>Hair_problem: {{ object.haircosmetic.hair_problem }}</div>
    <div>Properties: {{ object.haircosmetic.properties }}</div>
{% endif %}
</body>
</html>

