{% extends 'base.html' %} {% load static %} {% block scripts %}
<script src="{% static 'cosmetics/scripts/cosmeticsList.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="content">
<form>
	<div class="cosmetics">
		<div class="cosmetics-filters">
			<div class="filters-container">
	      		<div class="cosmetics-filters-item">
	      			<label class=filters-label>Cosmetics types:</label>
	  			<select class="cosmetics-filters-type">
			      <option selected value="all">All</option>
			      <option value="body">Body</option>
			      <option value="hair">Hair</option>
			      <option value="hands">Hands</option>
			      <option value="face">Face</option>
			      <option value="feet">Feet</option>
			    </select> 
			</div>

	      		<div class="cosmetics-filters-item"><label class=filters-label>Target gender:</label>
	      		<select class="cosmetics-filters-target-gender">
			      <option selected value="all">All</option>
			      <option value="both">Both</option>
			      <option value="male">Male</option>
			      <option value="female">Female</option>
			    </select>
			</div>
	  		
			    
	  		</div>

	  		<div class=cosmetics-chosen-filters>
	 	</div>

		</div>
	</div>
    <button type="button">Filter it!</button>
</form>

<h1>{{ object_type|title }}</h1>
<ul>
{% for cosmetic in object_list %}
    <li><a href="/cosmetic/show/{{ cosmetic.pk }}">{{ cosmetic.name }}</a></li>
{% empty %}
    <li>No {{ object_type }} yet.</li>
{% endfor %}
</ul>

</div>
{% endblock %}
