{% extends 'base.html' %} {% load static %} {% block scripts %}

<script src="{% static 'cosmetics/scripts/addCosmetics.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="content">
<form>
  <div class="form-item"><div class="custom-h1">Add new cosmetic</div></div>
  <div class = "cosmetic">
    <div class="form-item">
    <select>
      <option selected disabled hidden>Choose cosmetic type</option>
      <option value="body">Body</option>
      <option value="hair">Hair</option>
      <option value="hands">Hands</option>
      <option value="face">Face</option>
      <option value="feet">Feet</option>
    </select>
  </div>

    <div class="single-cosmetic">
    </div>
  </div>
  <div class="button-alike">
  <input
    class="add-next-ingredient"
    type="button"
    value="Add next ingredient"
  />
</div>
<div class="button-alike">
  <button class="save-form" type="button">Save</button>
</div>
</form>

</div>
{% endblock %}
