{% extends 'base.html' %} {% load static %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="{% static 'cosmetics/scripts/addIngredients.js' %}" defer></script>
{% endblock %} {% block content %}
<div class = "content">
<form>
  <div class="form-item"><div class="custom-h1">Dodaj nowy składnik</div></div>
  <div class="single-ingredient">
    <div class="single-ingredient-name">
      <div class="form-item">
      <label>Ingredient Name:</label>
      <div class="alert"> <div class="ingredient-name-alert"></div></div>
      <input type="text" name="single-ingredient-name"/>
    </div>
  </div>
  <div class="button-alike">
    <input class="add-related-name" type="button" value="Add related name" />
  </div>
  <div class="single-ingredient-related-names">
  </div>
    <div class="single-ingredient-type">
      <div class="form-item">
      <label>Ingredient type:</label>
      <div class="alert"> <div class="ingredient-type-alert"></div></div>
       <select>
        <option value="preservative">Preservative</option>
        <option value="emolient">Emolient</option>
        <option value="emulsifier">Emulsifier</option>
        <option value="extract">Extract</option>
        <option value="solvent">Solvent</option>
        <option value="antioxidant">Antioxidant</option>
        <option value="consistency">Consistency</option>
        <option value="chelating">Chelating</option>
        <option value="fragrance">Fragrance</option>
        <option value="antibacterial">Antibacterial</option>
        <option value="ph-regulator">PH Regulator</option>
        <option value="vitamin">Vitamin</option>
        <option value="sunscreen">Sunscreen</option>
        <option value="moisturizing">Moisturizing</option>
        <option value="cleansing">Cleansing</option>
      </select>
    </div>
    </div>
    <div class="single-ingredient-natural">
      <div class="form-item-beside">
      <label>Is natural:</label>
      <input type="checkbox" value="natural" />
    </div>
    </div>
    <div class="single-ingredient-hypoallergenic">
      <div class="form-item-beside">
      <label>Is hypoallergenic:</label>
      <input type="checkbox" value="hypoallergenic" />
    </div>
  </div>
      <div class="single-ingredient-description">
      <div class="form-item-area">
      <label>Ingredient Description:</label>
      <div class="alert"> <div class="ingredient-description-alert"></div></div>
      <textarea rows=10></textarea>
    </div>
  </div>
  <div class="alert"> <div class="ingredient-general-alert"></div></div>
    <div class="button-alike">
      <button type="button">Save</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
