<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <span class="pagination-panel"><a href="?page=1">&laquo; first</a></span>
            <span class="pagination-panel"><a href="?page={{ page_obj.previous_page_number }}">previous</a></span>
        {% endif %}

        <span class="pagination-panel-no-a"><span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span></span>

        {% if page_obj.has_next %}
            <span class="pagination-panel"><a href="?page={{ page_obj.next_page_number }}">next</a></span>
            <span class="pagination-panel"><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></span>
        {% endif %}
    </span>
</div>